In [1]:
import pandas

In [2]:
indicators = pandas.read_csv('project data/climate change dataset - worldbank/data - indicators.csv', encoding = "ISO-8859-1")

In [44]:
indicators.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,ABW,Urban population (% of total population),SP.URB.TOTL.IN.ZS,50.776000,50.761000,50.746000,50.730000,50.715000,50.700000,...,43.059000,42.940000,42.957000,42.990000,43.041000,43.108000,43.192000,43.293000,43.411000,NaN
1,Aruba,ABW,Urban population,SP.URB.TOTL,27526.000000,28141.000000,28532.000000,28761.000000,28924.000000,29082.000000,...,43778.000000,43819.000000,44057.000000,44348.000000,44665.000000,44979.000000,45296.000000,45616.000000,45948.000000,NaN
2,Aruba,ABW,Urban population growth (annual %),SP.URB.GROW,3.117931,2.209658,1.379868,0.799404,0.565140,0.544773,...,-0.626205,0.093611,0.541674,0.658336,0.712259,0.700552,0.702301,0.703980,0.725179,NaN
3,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.000000,55438.000000,56225.000000,56695.000000,57032.000000,57360.000000,...,101669.000000,102046.000000,102560.000000,103159.000000,103774.000000,104341.000000,104872.000000,105366.000000,105845.000000,NaN
4,Aruba,ABW,Population growth (annual %),SP.POP.GROW,3.148037,2.238144,1.409622,0.832453,0.592649,0.573468,...,0.210709,0.370125,0.502430,0.582349,0.594397,0.544892,0.507618,0.469944,0.453576,NaN

In [4]:
temperature = pandas.read_csv('project data/climate change dataset - worldbank/data - temperature.csv')

In [5]:
temperature.head()

   Temperature - (Celsius)   Year    Statistics       Country Country Code
0                 -0.03110   1991   Jan Average   Afghanistan          AFG
1                  1.43654   1991   Feb Average   Afghanistan          AFG
2                  6.88685   1991   Mar Average   Afghanistan          AFG
3                 12.93970   1991   Apr Average   Afghanistan          AFG
4                 17.07550   1991   May Average   Afghanistan          AFG

In [48]:
# code to convert the indicators to following format 
'''
    SN      Country        Country Code        Year          % of Agricultural land        Forest Area
    1       Nepal          NEP                 2019           10 
'''

data = {}
rows = []

columns_controls = [
    'Agricultural land (sq. km)'
]

columns = ['County', 'Country Code']
indicator_names = []
for index, row in indicators.iterrows():
    if row['Indicator Name'] not in columns_controls:
        continue
        
    if row['Indicator Name'] not in columns:
        columns.append(row['Indicator Name'])
        
    if row['Indicator Name'] not in indicator_names:
        indicator_names.append(row['Indicator Name'])

columns.append('Year')

for index, row in indicators.iterrows():
    if row['Indicator Name'] not in columns_controls:
        continue


    for year in range(1960, 2019):
        data_row = [row['Country Name'], row['Country Code']]
        for each_col in indicator_names:
            data_row.append('')
        
        data_row.append(year)
        rows.append(data_row)

        if row['Indicator Name'] not in data:
            data[row['Indicator Name']] = [row[str(year)]]
        else:
            data [row['Indicator Name']].append(row[str(year)])

In [49]:
# code to convert the indicators to following format 
'''
    Country        Country Code        Year          % of Agricultural land        Forest Area

'''
print(indicator_names)

['Agricultural land (sq. km)']

In [50]:
new_indicators = pandas.DataFrame(rows, columns=columns)

for each_key in data:
    new_indicators[each_key] = data[each_key]

In [43]:
new_indicators.head(100000)

         County Country Code  Agricultural land (sq. km)  Year
0         Aruba          ABW                         NaN  1960
1         Aruba          ABW                        20.0  1961
2         Aruba          ABW                        20.0  1962
3         Aruba          ABW                        20.0  1963
4         Aruba          ABW                        20.0  1964
5         Aruba          ABW                        20.0  1965
6         Aruba          ABW                        20.0  1966
7         Aruba          ABW                        20.0  1967
8         Aruba          ABW                        20.0  1968
9         Aruba          ABW                        20.0  1969
10        Aruba          ABW                        20.0  1970
11        Aruba          ABW                        20.0  1971
12        Aruba          ABW                        20.0  1972
13        Aruba          ABW                        20.0  1973
14        Aruba          ABW                        20.0  1974
15        Aruba          ABW                        20.0  1975
16        Aruba          ABW                        20.0  1976
17        Aruba          ABW                        20.0  1977
18        Aruba          ABW                        20.0  1978
19        Aruba          ABW                        20.0  1979
20        Aruba          ABW                        20.0  1980
21        Aruba          ABW                        20.0  1981
22        Aruba          ABW                        20.0  1982
23        Aruba          ABW                        20.0  1983
24        Aruba          ABW                        20.0  1984
25        Aruba          ABW                        20.0  1985
26        Aruba          ABW                        20.0  1986
27        Aruba          ABW                        20.0  1987
28        Aruba          ABW                        20.0  1988
29        Aruba          ABW                        20.0  1989
...         ...          ...                         ...   ...
15546  Zimbabwe          ZWE                    129550.0  1989
15547  Zimbabwe          ZWE                    130100.0  1990
15548  Zimbabwe          ZWE                    131800.0  1991
15549  Zimbabwe          ZWE                    133500.0  1992
15550  Zimbabwe          ZWE                    135200.0  1993
15551  Zimbabwe          ZWE                    137200.0  1994
15552  Zimbabwe          ZWE                    138600.0  1995
15553  Zimbabwe          ZWE                    142350.0  1996
15554  Zimbabwe          ZWE                    144190.0  1997
15555  Zimbabwe          ZWE                    145200.0  1998
15556  Zimbabwe          ZWE                    148400.0  1999
15557  Zimbabwe          ZWE                    150600.0  2000
15558  Zimbabwe          ZWE                    152400.0  2001
15559  Zimbabwe          ZWE                    154700.0  2002
15560  Zimbabwe          ZWE                    156500.0  2003
15561  Zimbabwe          ZWE                    160000.0  2004
15562  Zimbabwe          ZWE                    161000.0  2005
15563  Zimbabwe          ZWE                    163000.0  2006
15564  Zimbabwe          ZWE                    162000.0  2007
15565  Zimbabwe          ZWE                    164500.0  2008
15566  Zimbabwe          ZWE                    163000.0  2009
15567  Zimbabwe          ZWE                    162000.0  2010
15568  Zimbabwe          ZWE                    164000.0  2011
15569  Zimbabwe          ZWE                    162000.0  2012
15570  Zimbabwe          ZWE                    162000.0  2013
15571  Zimbabwe          ZWE                    162000.0  2014
15572  Zimbabwe          ZWE                    162000.0  2015
15573  Zimbabwe          ZWE                    162000.0  2016
15574  Zimbabwe          ZWE                         NaN  2017
15575  Zimbabwe          ZWE                         NaN  2018

[15576 rows x 4 columns]