In [1]:
import pandas

In [2]:
indicators = pandas.read_csv('project data/climate change dataset - worldbank/data - indicators.csv', encoding = "ISO-8859-1")

In [3]:
indicators.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,ABW,Urban population (% of total population),SP.URB.TOTL.IN.ZS,50.776000,50.761000,50.746000,50.730000,50.715000,50.700000,...,43.059000,42.940000,42.957000,42.990000,43.041000,43.108000,43.192000,43.293000,43.411000,NaN
1,Aruba,ABW,Urban population,SP.URB.TOTL,27526.000000,28141.000000,28532.000000,28761.000000,28924.000000,29082.000000,...,43778.000000,43819.000000,44057.000000,44348.000000,44665.000000,44979.000000,45296.000000,45616.000000,45948.000000,NaN
2,Aruba,ABW,Urban population growth (annual %),SP.URB.GROW,3.117931,2.209658,1.379868,0.799404,0.565140,0.544773,...,-0.626205,0.093611,0.541674,0.658336,0.712259,0.700552,0.702301,0.703980,0.725179,NaN
3,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.000000,55438.000000,56225.000000,56695.000000,57032.000000,57360.000000,...,101669.000000,102046.000000,102560.000000,103159.000000,103774.000000,104341.000000,104872.000000,105366.000000,105845.000000,NaN
4,Aruba,ABW,Population growth (annual %),SP.POP.GROW,3.148037,2.238144,1.409622,0.832453,0.592649,0.573468,...,0.210709,0.370125,0.502430,0.582349,0.594397,0.544892,0.507618,0.469944,0.453576,NaN

In [4]:
temperature = pandas.read_csv('project data/climate change dataset - worldbank/data - temperature.csv')

In [5]:
temperature.head()

   Temperature - (Celsius)   Year    Statistics       Country Country Code
0                 -0.03110   1991   Jan Average   Afghanistan          AFG
1                  1.43654   1991   Feb Average   Afghanistan          AFG
2                  6.88685   1991   Mar Average   Afghanistan          AFG
3                 12.93970   1991   Apr Average   Afghanistan          AFG
4                 17.07550   1991   May Average   Afghanistan          AFG

In [6]:
# code to convert the indicators to following format 
'''
    SN      Country        Country Code        Year          % of Agricultural land        Forest Area
    1       Nepal          NEP                 2019           10 
'''

data = {}
rows = []

# print(indicators['Indicator Name'].unique())
    
columns_controls = [
    'Agricultural land (sq. km)',
    'Agricultural irrigated land (% of total agricultural land)',
    'Forest area (sq. km)'
]

columns = ['County', 'Country Code']
indicator_names = []
for index, row in indicators.iterrows():
    if row['Indicator Name'] not in columns_controls:
        continue
        
    if row['Indicator Name'] not in columns:
        columns.append(row['Indicator Name'])
        
    if row['Indicator Name'] not in indicator_names:
        indicator_names.append(row['Indicator Name'])

columns.append('Year')

for index, row in indicators.iterrows():
    if row['Indicator Name'] not in columns_controls:
        continue


    for year in range(1960, 2019):
        data_row = [row['Country Name'], row['Country Code']]
        for each_col in indicator_names:
            data_row.append('')
        
        data_row.append(year)
        rows.append(data_row)

        if row['Indicator Name'] not in data:
            data[row['Indicator Name']] = [row[str(year)]]
        else:
            data [row['Indicator Name']].append(row[str(year)])

In [7]:
# code to convert the indicators to following format 
'''
    Country        Country Code        Year          % of Agricultural land        Forest Area

'''
print(indicator_names)

['Agricultural irrigated land (% of total agricultural land)', 'Forest area (sq. km)', 'Agricultural land (sq. km)']

In [18]:
new_indicators = pandas.DataFrame(rows, columns=columns)


for each_key in data:
    new_indicators[each_key] = pandas.Series(data[each_key])

In [19]:
new_indicators.head(100000)

,County,Country Code,Agricultural irrigated land (% of total agricultural land),Forest area (sq. km),Agricultural land (sq. km),Year
0,Aruba,ABW,NaN,NaN,NaN,1960
1,Aruba,ABW,NaN,NaN,20.0,1961
2,Aruba,ABW,NaN,NaN,20.0,1962
3,Aruba,ABW,NaN,NaN,20.0,1963
4,Aruba,ABW,NaN,NaN,20.0,1964
5,Aruba,ABW,NaN,NaN,20.0,1965
6,Aruba,ABW,NaN,NaN,20.0,1966
7,Aruba,ABW,NaN,NaN,20.0,1967
8,Aruba,ABW,NaN,NaN,20.0,1968
9,Aruba,ABW,NaN,NaN,20.0,1969
10,Aruba,ABW,NaN,NaN,20.0,1970
11,Aruba,ABW,NaN,NaN,20.0,1971
12,Aruba,ABW,NaN,NaN,20.0,1972
13,Aruba,ABW,NaN,NaN,20.0,1973
14,Aruba,ABW,NaN,NaN,20.0,1974
15,Aruba,ABW,NaN,NaN,20.0,1975
16,Aruba,ABW,NaN,NaN,20.0,1976
17,Aruba,ABW,NaN,NaN,20.0,1977
18,Aruba,ABW,NaN,NaN,20.0,1978
19,Aruba,ABW,NaN,NaN,20.0,1979
20,Aruba,ABW,NaN,NaN,20.0,1980
21,Aruba,ABW,NaN,NaN,20.0,1981
22,Aruba,ABW,NaN,NaN,20.0,1982
23,Aruba,ABW,NaN,NaN,20.0,1983
24,Aruba,ABW,NaN,NaN,20.0,1984
25,Aruba,ABW,NaN,NaN,20.0,1985
26,Aruba,ABW,NaN,NaN,20.0,1986
27,Aruba,ABW,NaN,NaN,20.0,1987
28,Aruba,ABW,NaN,NaN,20.0,1988
29,Aruba,ABW,NaN,NaN,20.0,1989
...,...,...,...,...,...,...
46698,Zimbabwe,ZWE,NaN,NaN,NaN,1989
46699,Zimbabwe,ZWE,NaN,NaN,NaN,1990
46700,Zimbabwe,ZWE,NaN,NaN,NaN,1991
46701,Zimbabwe,ZWE,NaN,NaN,NaN,1992
46702,Zimbabwe,ZWE,NaN,NaN,NaN,1993
46703,Zimbabwe,ZWE,NaN,NaN,NaN,1994
46704,Zimbabwe,ZWE,NaN,NaN,NaN,1995
46705,Zimbabwe,ZWE,NaN,NaN,NaN,1996
46706,Zimbabwe,ZWE,NaN,NaN,NaN,1997
46707,Zimbabwe,ZWE,NaN,NaN,NaN,1998
46708,Zimbabwe,ZWE,NaN,NaN,NaN,1999
46709,Zimbabwe,ZWE,NaN,NaN,NaN,2000
46710,Zimbabwe,ZWE,NaN,NaN,NaN,2001
46711,Zimbabwe,ZWE,NaN,NaN,NaN,2002
46712,Zimbabwe,ZWE,NaN,NaN,NaN,2003
46713,Zimbabwe,ZWE,NaN,NaN,NaN,2004
46714,Zimbabwe,ZWE,NaN,NaN,NaN,2005
46715,Zimbabwe,ZWE,NaN,NaN,NaN,2006
46716,Zimbabwe,ZWE,NaN,NaN,NaN,2007
46717,Zimbabwe,ZWE,NaN,NaN,NaN,2008
46718,Zimbabwe,ZWE,NaN,NaN,NaN,2009
46719,Zimbabwe,ZWE,NaN,NaN,NaN,2010
46720,Zimbabwe,ZWE,NaN,NaN,NaN,2011
46721,Zimbabwe,ZWE,NaN,NaN,NaN,2012
46722,Zimbabwe,ZWE,NaN,NaN,NaN,2013
46723,Zimbabwe,ZWE,NaN,NaN,NaN,2014
46724,Zimbabwe,ZWE,NaN,NaN,NaN,2015
46725,Zimbabwe,ZWE,NaN,NaN,NaN,2016
46726,Zimbabwe,ZWE,NaN,NaN,NaN,2017
46727,Zimbabwe,ZWE,NaN,NaN,NaN,2018