In [16]:
import pandas

In [17]:
indicators = pandas.read_csv('project data/climate change dataset - worldbank/data - indicators.csv', encoding = "ISO-8859-1")

In [18]:
indicators.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,ABW,Urban population (% of total population),SP.URB.TOTL.IN.ZS,50.776000,50.761000,50.746000,50.730000,50.715000,50.700000,...,43.059000,42.940000,42.957000,42.990000,43.041000,43.108000,43.192000,43.293000,43.411000,NaN
1,Aruba,ABW,Urban population,SP.URB.TOTL,27526.000000,28141.000000,28532.000000,28761.000000,28924.000000,29082.000000,...,43778.000000,43819.000000,44057.000000,44348.000000,44665.000000,44979.000000,45296.000000,45616.000000,45948.000000,NaN
2,Aruba,ABW,Urban population growth (annual %),SP.URB.GROW,3.117931,2.209658,1.379868,0.799404,0.565140,0.544773,...,-0.626205,0.093611,0.541674,0.658336,0.712259,0.700552,0.702301,0.703980,0.725179,NaN
3,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.000000,55438.000000,56225.000000,56695.000000,57032.000000,57360.000000,...,101669.000000,102046.000000,102560.000000,103159.000000,103774.000000,104341.000000,104872.000000,105366.000000,105845.000000,NaN
4,Aruba,ABW,Population growth (annual %),SP.POP.GROW,3.148037,2.238144,1.409622,0.832453,0.592649,0.573468,...,0.210709,0.370125,0.502430,0.582349,0.594397,0.544892,0.507618,0.469944,0.453576,NaN

In [19]:
temperature = pandas.read_csv('project data/climate change dataset - worldbank/data - temperature.csv')

In [20]:
temperature.head()

   Temperature - (Celsius)   Year    Statistics       Country Country Code
0                 -0.03110   1991   Jan Average   Afghanistan          AFG
1                  1.43654   1991   Feb Average   Afghanistan          AFG
2                  6.88685   1991   Mar Average   Afghanistan          AFG
3                 12.93970   1991   Apr Average   Afghanistan          AFG
4                 17.07550   1991   May Average   Afghanistan          AFG

In [25]:
# code to convert the indicators to following format 
'''
    Country        Country Code        Year          % of Agricultural land        Forest Area

'''

'\n    Country        Country Code        Year          % of Agricultural land        Forest Area\n\n'

In [51]:
columns = ['County', 'Country Code', 'Year']
distinct_indicators = indicators['Indicator Name'].unique()
print(len(distinct_indicators))
for each_indicator in distinct_indicators:
    if 'forest area (sq. km)' in each_indicator.lower():
        columns.append(each_indicator)

76

In [57]:
new_indicators = pandas.DataFrame(columns=columns)


def convert_to_new_row(row):
    global new_indicators
    if row['Indicator Name'] in columns:
        data = []
        row = dict(row)
        for year in range(1960, 2020):
            row_data = (
                row['Country Name'], 
                row['Country Code'], 
                str(year), 
                row[str(year)]
            )
            
            data.append(row_data)
        
        new_df = pandas.DataFrame(data, columns=columns)
        new_indicators = new_indicators.append(new_df)
    
    return row


indicators.apply(convert_to_new_row, axis=1)

new_indicators.head(10000)

    County Country Code  Year  Forest area (sq. km)
0    Aruba          ABW  1960                   NaN
1    Aruba          ABW  1961                   NaN
2    Aruba          ABW  1962                   NaN
3    Aruba          ABW  1963                   NaN
4    Aruba          ABW  1964                   NaN
5    Aruba          ABW  1965                   NaN
6    Aruba          ABW  1966                   NaN
7    Aruba          ABW  1967                   NaN
8    Aruba          ABW  1968                   NaN
9    Aruba          ABW  1969                   NaN
10   Aruba          ABW  1970                   NaN
11   Aruba          ABW  1971                   NaN
12   Aruba          ABW  1972                   NaN
13   Aruba          ABW  1973                   NaN
14   Aruba          ABW  1974                   NaN
15   Aruba          ABW  1975                   NaN
16   Aruba          ABW  1976                   NaN
17   Aruba          ABW  1977                   NaN
18   Aruba          ABW  1978                   NaN
19   Aruba          ABW  1979                   NaN
20   Aruba          ABW  1980                   NaN
21   Aruba          ABW  1981                   NaN
22   Aruba          ABW  1982                   NaN
23   Aruba          ABW  1983                   NaN
24   Aruba          ABW  1984                   NaN
25   Aruba          ABW  1985                   NaN
26   Aruba          ABW  1986                   NaN
27   Aruba          ABW  1987                   NaN
28   Aruba          ABW  1988                   NaN
29   Aruba          ABW  1989                   NaN
..     ...          ...   ...                   ...
10  Malawi          MWI  1970                   NaN
11  Malawi          MWI  1971                   NaN
12  Malawi          MWI  1972                   NaN
13  Malawi          MWI  1973                   NaN
14  Malawi          MWI  1974                   NaN
15  Malawi          MWI  1975                   NaN
16  Malawi          MWI  1976                   NaN
17  Malawi          MWI  1977                   NaN
18  Malawi          MWI  1978                   NaN
19  Malawi          MWI  1979                   NaN
20  Malawi          MWI  1980                   NaN
21  Malawi          MWI  1981                   NaN
22  Malawi          MWI  1982                   NaN
23  Malawi          MWI  1983                   NaN
24  Malawi          MWI  1984                   NaN
25  Malawi          MWI  1985                   NaN
26  Malawi          MWI  1986                   NaN
27  Malawi          MWI  1987                   NaN
28  Malawi          MWI  1988                   NaN
29  Malawi          MWI  1989                   NaN
30  Malawi          MWI  1990           38960.00000
31  Malawi          MWI  1991           38631.00098
32  Malawi          MWI  1992           38301.99951
33  Malawi          MWI  1993           37973.00049
34  Malawi          MWI  1994           37643.99902
35  Malawi          MWI  1995           37315.00000
36  Malawi          MWI  1996           36986.00098
37  Malawi          MWI  1997           36656.99951
38  Malawi          MWI  1998           36328.00049
39  Malawi          MWI  1999           35998.99902

[10000 rows x 4 columns]