In [8]:
import pandas as pd
import numpy as np


df_rainfall = pd.read_csv('project data/climate change dataset - worldbank/data - rainfall.csv')

In [20]:
df_rainfall.head()
df_rainfall.drop()

   Rainfall - (MM)   Year    Statistics       Country  ISO3 Unnamed: 5
0          64.7765   1991   Jan Average   Afghanistan   AFG        NaN
1          59.4025   1991   Feb Average   Afghanistan   AFG        NaN
2         119.6250   1991   Mar Average   Afghanistan   AFG        NaN
3          51.8025   1991   Apr Average   Afghanistan   AFG        NaN
4          57.2438   1991   May Average   Afghanistan   AFG        NaN