In [1]:
import pandas

In [2]:
indicators = pandas.read_csv('project data/climate change dataset - worldbank/data - indicators.csv', encoding = "ISO-8859-1")

In [3]:
indicators.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,ABW,Urban population (% of total population),SP.URB.TOTL.IN.ZS,50.776000,50.761000,50.746000,50.730000,50.715000,50.700000,...,43.059000,42.940000,42.957000,42.990000,43.041000,43.108000,43.192000,43.293000,43.411000,NaN
1,Aruba,ABW,Urban population,SP.URB.TOTL,27526.000000,28141.000000,28532.000000,28761.000000,28924.000000,29082.000000,...,43778.000000,43819.000000,44057.000000,44348.000000,44665.000000,44979.000000,45296.000000,45616.000000,45948.000000,NaN
2,Aruba,ABW,Urban population growth (annual %),SP.URB.GROW,3.117931,2.209658,1.379868,0.799404,0.565140,0.544773,...,-0.626205,0.093611,0.541674,0.658336,0.712259,0.700552,0.702301,0.703980,0.725179,NaN
3,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.000000,55438.000000,56225.000000,56695.000000,57032.000000,57360.000000,...,101669.000000,102046.000000,102560.000000,103159.000000,103774.000000,104341.000000,104872.000000,105366.000000,105845.000000,NaN
4,Aruba,ABW,Population growth (annual %),SP.POP.GROW,3.148037,2.238144,1.409622,0.832453,0.592649,0.573468,...,0.210709,0.370125,0.502430,0.582349,0.594397,0.544892,0.507618,0.469944,0.453576,NaN

In [4]:
temperature = pandas.read_csv('project data/climate change dataset - worldbank/data - temperature.csv')

In [5]:
temperature.head()

   Temperature - (Celsius)   Year    Statistics       Country Country Code
0                 -0.03110   1991   Jan Average   Afghanistan          AFG
1                  1.43654   1991   Feb Average   Afghanistan          AFG
2                  6.88685   1991   Mar Average   Afghanistan          AFG
3                 12.93970   1991   Apr Average   Afghanistan          AFG
4                 17.07550   1991   May Average   Afghanistan          AFG

In [6]:
# code to convert the indicators to following format 
'''
    SN      Country        Country Code        Year          % of Agricultural land        Forest Area
    1       Nepal          NEP                 2019           10 
'''

data = {}
rows = []

columns = ['County', 'Country Code']
indicator_names = []
for index, row in indicators.iterrows():
    if row['Indicator Name'] not in columns:
        columns.append(row['Indicator Name'])
        
    if row['Indicator Name'] not in indicators:
        indicator_names.append(row['Indicator Name'])

columns.append('Year')

for index, row in indicators.iterrows():
    data_row = [row['Country Name'], row['Country Code']]
    for each_col in indicator_names:
        data_row.append('')

    for year in range(1960, 2019):
        data_row.append(year)
        rows.append(data_row)

        if row['Indicator Name'] not in data:
            data[row['Indicator Name']] = [row[str(year)]]
        else:
            data [row['Indicator Name']].append(row[str(year)])

NameError: name 'year' is not defined

In [24]:
# code to convert the indicators to following format 
'''
    Country        Country Code        Year          % of Agricultural land        Forest Area

'''
print(data.keys())

dict_keys(['Urban population (% of total population)', 'Urban population', 'Urban population growth (annual %)', 'Population, total', 'Population growth (annual %)', 'Poverty headcount ratio at $1.90 a day (2011 PPP) (% of population)', 'Prevalence of underweight, weight for age (% of children under 5)', 'Community health workers (per 1,000 people)', 'Mortality rate, under-5 (per 1,000 live births)', 'Primary completion rate, total (% of relevant age group)', 'School enrollment, primary and secondary (gross), gender parity index (GPI)', 'Agriculture, forestry, and fishing, value added (% of GDP)', 'CPIA public sector management and institutions cluster average (1=low to 6=high)', 'Ease of doing business index (1=most business-friendly regulations)', 'Terrestrial and marine protected areas (% of total territorial area)', 'Marine protected areas (% of territorial waters)', 'Terrestrial protected areas (% of total land area)', 'Annual freshwater withdrawals, total (% of internal resources)', 'Annual freshwater withdrawals, total (billion cubic meters)', 'Population in urban agglomerations of more than 1 million (% of total population)', 'Population living in areas where elevation is below 5 meters (% of total population)', 'Urban population living in areas where elevation is below 5 meters (% of total population)', 'Rural population living in areas where elevation is below 5 meters (% of total population)', 'Droughts, floods, extreme temperatures (% of population, average 1990-2009)', 'GHG net emissions/removals by LUCF (Mt of CO2 equivalent)', 'Disaster risk reduction progress score (1-5 scale; 5=best)', 'SF6 gas emissions (thousand metric tons of CO2 equivalent)', 'PFC gas emissions (thousand metric tons of CO2 equivalent)', 'Nitrous oxide emissions (% change from 1990)', 'Nitrous oxide emissions (thousand metric tons of CO2 equivalent)', 'Methane emissions (% change from 1990)', 'Methane emissions (kt of CO2 equivalent)', 'HFC gas emissions (thousand metric tons of CO2 equivalent)', 'Total greenhouse gas emissions (% change from 1990)', 'Total greenhouse gas emissions (kt of CO2 equivalent)', 'Other greenhouse gas emissions (% change from 1990)', 'Other greenhouse gas emissions, HFC, PFC and SF6 (thousand metric tons of CO2 equivalent)', 'CO2 emissions from solid fuel consumption (% of total)', 'CO2 emissions from solid fuel consumption (kt)', 'CO2 emissions (kg per 2011 PPP $ of GDP)', 'CO2 emissions (kg per PPP $ of GDP)', 'CO2 emissions (metric tons per capita)', 'CO2 emissions from liquid fuel consumption (% of total)', 'CO2 emissions from liquid fuel consumption (kt)', 'CO2 emissions (kt)', 'CO2 emissions (kg per 2010 US$ of GDP)', 'CO2 emissions from gaseous fuel consumption (% of total)', 'CO2 emissions from gaseous fuel consumption (kt)', 'CO2 intensity (kg per kg of oil equivalent energy use)', 'Energy use (kg of oil equivalent per capita)', 'Electric power consumption (kWh per capita)', 'Energy use (kg of oil equivalent) per $1,000 GDP (constant 2011 PPP)', 'Renewable energy consumption (% of total final energy consumption)', 'Electricity production from renewable sources, excluding hydroelectric (% of total)', 'Electricity production from renewable sources, excluding hydroelectric (kWh)', 'Renewable electricity output (% of total electricity output)', 'Electricity production from oil sources (% of total)', 'Electricity production from nuclear sources (% of total)', 'Electricity production from natural gas sources (% of total)', 'Electricity production from hydroelectric sources (% of total)', 'Electricity production from coal sources (% of total)', 'Access to electricity (% of population)', 'Foreign direct investment, net inflows (% of GDP)', 'Cereal yield (kg per hectare)', 'Average precipitation in depth (mm per year)', 'Agricultural irrigated land (% of total agricultural land)', 'Forest area (% of land area)', 'Forest area (sq. km)', 'Land area where elevation is below 5 meters (% of total land area)', 'Urban land area where elevation is below 5 meters (% of total land area)', 'Urban land area where elevation is below 5 meters (sq. km)', 'Rural land area where elevation is below 5 meters (% of total land area)', 'Rural land area where elevation is below 5 meters (sq. km)', 'Arable land (% of land area)', 'Agricultural land (% of land area)', 'Agricultural land (sq. km)'])

In [45]:
new_indicators = pandas.DataFrame(rows, columns=columns)

for each_key in data:
    new_indicators[each_key] = new_indicators[each_key].map(data)

new_indicators.head()

MemoryError: