In [1]:
import pandas
import seaborn as sns

In [2]:
indicators = pandas.read_csv('project data/climate change dataset - worldbank/data - indicators.csv', encoding = "ISO-8859-1")

In [3]:
indicators.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,ABW,Urban population (% of total population),SP.URB.TOTL.IN.ZS,50.776000,50.761000,50.746000,50.730000,50.715000,50.700000,...,43.059000,42.940000,42.957000,42.990000,43.041000,43.108000,43.192000,43.293000,43.411000,NaN
1,Aruba,ABW,Urban population,SP.URB.TOTL,27526.000000,28141.000000,28532.000000,28761.000000,28924.000000,29082.000000,...,43778.000000,43819.000000,44057.000000,44348.000000,44665.000000,44979.000000,45296.000000,45616.000000,45948.000000,NaN
2,Aruba,ABW,Urban population growth (annual %),SP.URB.GROW,3.117931,2.209658,1.379868,0.799404,0.565140,0.544773,...,-0.626205,0.093611,0.541674,0.658336,0.712259,0.700552,0.702301,0.703980,0.725179,NaN
3,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.000000,55438.000000,56225.000000,56695.000000,57032.000000,57360.000000,...,101669.000000,102046.000000,102560.000000,103159.000000,103774.000000,104341.000000,104872.000000,105366.000000,105845.000000,NaN
4,Aruba,ABW,Population growth (annual %),SP.POP.GROW,3.148037,2.238144,1.409622,0.832453,0.592649,0.573468,...,0.210709,0.370125,0.502430,0.582349,0.594397,0.544892,0.507618,0.469944,0.453576,NaN

In [4]:
temperature = pandas.read_csv('project data/climate change dataset - worldbank/data - temperature.csv')

In [5]:
temperature.head(24)

    Temperature - (Celsius)   Year    Statistics       Country Country Code
0                  -0.03110   1991   Jan Average   Afghanistan          AFG
1                   1.43654   1991   Feb Average   Afghanistan          AFG
2                   6.88685   1991   Mar Average   Afghanistan          AFG
3                  12.93970   1991   Apr Average   Afghanistan          AFG
4                  17.07550   1991   May Average   Afghanistan          AFG
5                  23.07770   1991   Jun Average   Afghanistan          AFG
6                  25.57100   1991   Jul Average   Afghanistan          AFG
7                  23.96730   1991   Aug Average   Afghanistan          AFG
8                  19.38000   1991   Sep Average   Afghanistan          AFG
9                  12.87790   1991   Oct Average   Afghanistan          AFG
10                  7.31675   1991   Nov Average   Afghanistan          AFG
11                  4.23571   1991   Dec Average   Afghanistan          AFG
12                  0.74637   1992   Jan Average   Afghanistan          AFG
13                  2.46018   1992   Feb Average   Afghanistan          AFG
14                  5.71341   1992   Mar Average   Afghanistan          AFG
15                 11.69260   1992   Apr Average   Afghanistan          AFG
16                 16.11080   1992   May Average   Afghanistan          AFG
17                 22.88750   1992   Jun Average   Afghanistan          AFG
18                 24.70680   1992   Jul Average   Afghanistan          AFG
19                 22.86330   1992   Aug Average   Afghanistan          AFG
20                 17.85880   1992   Sep Average   Afghanistan          AFG
21                 12.69810   1992   Oct Average   Afghanistan          AFG
22                  8.32035   1992   Nov Average   Afghanistan          AFG
23                  4.47636   1992   Dec Average   Afghanistan          AFG

In [39]:
# code to convert the indicators to following format 
'''
    SN      Country        Country Code        Year          % of Agricultural land        Forest Area
    1       Nepal          NEP                 2019           10 
'''

data = {}
rows = []

# print(indicators['Indicator Name'].unique())
    
columns_controls = [
    'Agricultural land (sq. km)',
    'Agricultural irrigated land (% of total agricultural land)',
    'Forest area (sq. km)'
]

columns = ['Country', 'Country Code']
indicator_names = []
for index, row in indicators.iterrows():
    if row['Indicator Name'] not in columns_controls:
        continue
        
    if row['Indicator Name'] not in columns:
        columns.append(row['Indicator Name'])
        
    if row['Indicator Name'] not in indicator_names:
        indicator_names.append(row['Indicator Name'])
        
columns.append('Year')

for index, row in indicators.iterrows():
    if row['Indicator Name'] not in columns_controls:
        continue


    for year in range(1960, 2019):
        data_row = [row['Country Name'], row['Country Code']]
        for each_col in indicator_names:
            data_row.append('')
        
        data_row.append(year)
        rows.append(data_row)

        if row['Indicator Name'] not in data:
            data[row['Indicator Name']] = [row[str(year)]]
        else:
            data [row['Indicator Name']].append(row[str(year)])

In [40]:
# code to convert the indicators to following format 
'''
    Country        Country Code        Year          % of Agricultural land        Forest Area

'''
print(indicator_names)

['Agricultural irrigated land (% of total agricultural land)', 'Forest area (sq. km)', 'Agricultural land (sq. km)']

In [8]:
new_indicators = pandas.DataFrame(rows, columns=columns)


for each_key in data:
    new_indicators[each_key] = pandas.Series(data[each_key])

In [52]:
# code to merge temperature and indicators dataframes for candidate indicators after 1991
'''Country       Statistics       Year       Temperature - (Celsius)       Forest area (sq. km)      Agricultural land (sq. km)'''

new_indicators_subset = new_indicators.loc[new_indicators['Year'] >= 1991]
# # df.loc[df['column_name'] == some_value]
# df_forest_area = new_indicators_subset[['Country Code','Forest area (sq. km)', 'Year']]
# df_forest_area.head()

#print(new_indicators_subset.head())

print(new_indicators_subset.loc[new_indicators_subset['Country Code'] == 'PRK'])

column_names = ["Country", "Statistics", "Year", "Temperature - (Celsius)", "Forest area (sq. km)", "Agricultural land (sq. km)"]
df = pandas.DataFrame(columns = column_names)

res = pandas.merge(temperature, new_indicators_subset, how='inner', left_on=['Country Code', ' Year'], right_on = ['Country Code','Year'])

res.head(60)

                         Country Country Code  \
33838  Korea, Dem. Peoples Rep.          PRK
33839  Korea, Dem. Peoples Rep.          PRK
33840  Korea, Dem. Peoples Rep.          PRK
33841  Korea, Dem. Peoples Rep.          PRK
33842  Korea, Dem. Peoples Rep.          PRK
33843  Korea, Dem. Peoples Rep.          PRK
33844  Korea, Dem. Peoples Rep.          PRK
33845  Korea, Dem. Peoples Rep.          PRK
33846  Korea, Dem. Peoples Rep.          PRK
33847  Korea, Dem. Peoples Rep.          PRK
33848  Korea, Dem. Peoples Rep.          PRK
33849  Korea, Dem. Peoples Rep.          PRK
33850  Korea, Dem. Peoples Rep.          PRK
33851  Korea, Dem. Peoples Rep.          PRK
33852  Korea, Dem. Peoples Rep.          PRK
33853  Korea, Dem. Peoples Rep.          PRK
33854  Korea, Dem. Peoples Rep.          PRK
33855  Korea, Dem. Peoples Rep.          PRK
33856  Korea, Dem. Peoples Rep.          PRK
33857  Korea, Dem. Peoples Rep.          PRK
33858  Korea, Dem. Peoples Rep.          PRK
33859  Korea, Dem. Peoples Rep.          PRK
33860  Korea, Dem. Peoples Rep.          PRK
33861  Korea, Dem. Peoples Rep.          PRK
33862  Korea, Dem. Peoples Rep.          PRK
33863  Korea, Dem. Peoples Rep.          PRK
33864  Korea, Dem. Peoples Rep.          PRK
33865  Korea, Dem. Peoples Rep.          PRK
33897  Korea, Dem. Peoples Rep.          PRK
33898  Korea, Dem. Peoples Rep.          PRK
...                          ...          ...
33923  Korea, Dem. Peoples Rep.          PRK
33924  Korea, Dem. Peoples Rep.          PRK
33956  Korea, Dem. Peoples Rep.          PRK
33957  Korea, Dem. Peoples Rep.          PRK
33958  Korea, Dem. Peoples Rep.          PRK
33959  Korea, Dem. Peoples Rep.          PRK
33960  Korea, Dem. Peoples Rep.          PRK
33961  Korea, Dem. Peoples Rep.          PRK
33962  Korea, Dem. Peoples Rep.          PRK
33963  Korea, Dem. Peoples Rep.          PRK
33964  Korea, Dem. Peoples Rep.          PRK
33965  Korea, Dem. Peoples Rep.          PRK
33966  Korea, Dem. Peoples Rep.          PRK
33967  Korea, Dem. Peoples Rep.          PRK
33968  Korea, Dem. Peoples Rep.          PRK
33969  Korea, Dem. Peoples Rep.          PRK
33970  Korea, Dem. Peoples Rep.          PRK
33971  Korea, Dem. Peoples Rep.          PRK
33972  Korea, Dem. Peoples Rep.          PRK
33973  Korea, Dem. Peoples Rep.          PRK
33974  Korea, Dem. Peoples Rep.          PRK
33975  Korea, Dem. Peoples Rep.          PRK
33976  Korea, Dem. Peoples Rep.          PRK
33977  Korea, Dem. Peoples Rep.          PRK
33978  Korea, Dem. Peoples Rep.          PRK
33979  Korea, Dem. Peoples Rep.          PRK
33980  Korea, Dem. Peoples Rep.          PRK
33981  Korea, Dem. Peoples Rep.          PRK
33982  Korea, Dem. Peoples Rep.          PRK
33983  Korea, Dem. Peoples Rep.          PRK

       Agricultural irrigated land (% of total agricultural land)  \
33838                                                NaN
33839                                                NaN
33840                                                NaN
33841                                                NaN
33842                                                NaN
33843                                                NaN
33844                                                NaN
33845                                                NaN
33846                                                NaN
33847                                                NaN
33848                                                NaN
33849                                                NaN
33850                                                NaN
33851                                                NaN
33852                                                NaN
33853                                                NaN
33854                                                NaN
33855                                                NaN
33856                                                NaN
33857                                                NaN
33858                                                NaN
33859                                                NaN
33860                                                NaN
33861                                                NaN
33862                                                NaN
33863                                                NaN
33864                                                NaN
33865                                                NaN
33897                                                NaN
33898                                                NaN
...                                                  ...
33923                                                NaN
33924                                                NaN
33956                                                NaN
33957                                                NaN
33958                                                NaN
33959                                                NaN
33960                                                NaN
33961                                                NaN
33962                                                NaN
33963                                                NaN
33964                                                NaN
33965                                                NaN
33966                                                NaN
33967                                                NaN
33968                                                NaN
33969                                                NaN
33970                                                NaN
33971                                                NaN
33972                                                NaN
33973                                                NaN
33974                                                NaN
33975                                                NaN
33976                                                NaN
33977                                                NaN
33978                                                NaN
33979                                                NaN
33980                                                NaN
33981                                                NaN
33982                                                NaN
33983                                                NaN

       Forest area (sq. km)  Agricultural land (sq. km)  Year
33838                   NaN                         NaN  1991
33839                   NaN                         NaN  1992
33840                   NaN                         NaN  1993
33841                   NaN                         NaN  1994
33842                   NaN                         NaN  1995
33843                   NaN                         NaN  1996
33844                   NaN                         NaN  1997
33845                   NaN                         NaN  1998
33846                   NaN                         NaN  1999
33847                   NaN                         NaN  2000
33848                   NaN                         NaN  2001
33849                   NaN                         NaN  2002
33850                   NaN                         NaN  2003
33851                   NaN                         NaN  2004
33852                   NaN                         NaN  2005
33853                   NaN                         NaN  2006
33854                   NaN                         NaN  2007
33855                   NaN                         NaN  2008
33856                   NaN                         NaN  2009
33857                   NaN                         NaN  2010
33858                   NaN                         NaN  2011
33859                   NaN                         NaN  2012
33860                   NaN                         NaN  2013
33861                   NaN                         NaN  2014
33862                   NaN                         NaN  2015
33863                   NaN                         NaN  2016
33864                   NaN                         NaN  2017
33865                   NaN                         NaN  2018
33897                   NaN                         NaN  1991
33898                   NaN                         NaN  1992
...                     ...                         ...   ...
33923                   NaN                         NaN  2017
33924                   NaN                         NaN  2018
33956                   NaN                         NaN  1991
33957                   NaN                         NaN  1992
33958                   NaN                         NaN  1993
33959                   NaN                         NaN  1994
33960                   NaN                         NaN  1995
33961                   NaN                         NaN  1996
33962                   NaN                         NaN  1997
33963                   NaN                         NaN  1998
33964                   NaN                         NaN  1999
33965                   NaN                         NaN  2000
33966                   NaN                         NaN  2001
33967                   NaN                         NaN  2002
33968                   NaN                         NaN  2003
33969                   NaN                         NaN  2004
33970                   NaN                         NaN  2005
33971                   NaN                         NaN  2006
33972                   NaN                         NaN  2007
33973                   NaN                         NaN  2008
33974                   NaN                         NaN  2009
33975                   NaN                         NaN  2010
33976                   NaN                         NaN  2011
33977                   NaN                         NaN  2012
33978                   NaN                         NaN  2013
33979                   NaN                         NaN  2014
33980                   NaN                         NaN  2015
33981                   NaN                         NaN  2016
33982                   NaN                         NaN  2017
33983                   NaN                         NaN  2018

[84 rows x 6 columns]

,Temperature - (Celsius),Year,Statistics,Country,Country Code,Country,Agricultural irrigated land (% of total agricultural land),Forest area (sq. km),Agricultural land (sq. km),Year
0,-12.20200,1991,Jan Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
1,-12.20200,1991,Jan Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
2,-12.20200,1991,Jan Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
3,-9.11360,1991,Feb Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
4,-9.11360,1991,Feb Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
5,-9.11360,1991,Feb Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
6,-2.30970,1991,Mar Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
7,-2.30970,1991,Mar Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
8,-2.30970,1991,Mar Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
9,6.80504,1991,Apr Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
10,6.80504,1991,Apr Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
11,6.80504,1991,Apr Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
12,12.47070,1991,May Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
13,12.47070,1991,May Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
14,12.47070,1991,May Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
15,17.88600,1991,Jun Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
16,17.88600,1991,Jun Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
17,17.88600,1991,Jun Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
18,20.27990,1991,Jul Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
19,20.27990,1991,Jul Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
20,20.27990,1991,Jul Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
21,20.43050,1991,Aug Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
22,20.43050,1991,Aug Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
23,20.43050,1991,Aug Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
24,15.19050,1991,Sep Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
25,15.19050,1991,Sep Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
26,15.19050,1991,Sep Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
27,7.86464,1991,Oct Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
28,7.86464,1991,Oct Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
29,7.86464,1991,Oct Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
30,-0.28810,1991,Nov Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
31,-0.28810,1991,Nov Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
32,-0.28810,1991,Nov Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
33,-7.79740,1991,Dec Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
34,-7.79740,1991,Dec Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
35,-7.79740,1991,Dec Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
36,-2.55210,1991,Jan Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
37,-2.55210,1991,Jan Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
38,-2.55210,1991,Jan Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
39,-1.61530,1991,Feb Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
40,-1.61530,1991,Feb Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
41,-1.61530,1991,Feb Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
42,4.03624,1991,Mar Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
43,4.03624,1991,Mar Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
44,4.03624,1991,Mar Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
45,10.84400,1991,Apr Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
46,10.84400,1991,Apr Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
47,10.84400,1991,Apr Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
48,15.27020,1991,May Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
49,15.27020,1991,May Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
50,15.27020,1991,May Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
51,21.14100,1991,Jun Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
52,21.14100,1991,Jun Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
53,21.14100,1991,Jun Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
54,23.17450,1991,Jul Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
55,23.17450,1991,Jul Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
56,23.17450,1991,Jul Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
57,22.41170,1991,Aug Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
58,22.41170,1991,Aug Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991
59,22.41170,1991,Aug Average,Korea,PRK,"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,1991